@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<br />
 Bu Makaleyi değerlendirin
<br />
@Html.RadioButton("1", "") Çok başarılı
<br />
@Html.RadioButton("1", "") Çok 22
<br />
@Html.RadioButton("1", "") Çok 22
